#───────────────────────────────────────────────────────────────────────────────
# Shortcuts for torrents
#───────────────────────────────────────────────────────────────────────────────
alias save-torrent="aria2c --bt-metadata-only --bt-save-metadata"
alias get-torrent-list="aria2c --show-files"


#───────────────────────────────────────────────────────────────────────────────
# Shortcuts for navigation
#───────────────────────────────────────────────────────────────────────────────
alias cd="venv_cd"
alias ..="cd .."
alias -- -="cd -"


#───────────────────────────────────────────────────────────────────────────────
# Shortcuts for stats
#───────────────────────────────────────────────────────────────────────────────
alias df='df -h'
alias du='du -h -d 2'
alias battery='acpi | cut -d " " -f3-'
alias cpu-temp='sensors | grep "Physical" | cut -c35-40'


#───────────────────────────────────────────────────────────────────────────────
# System shortcuts
#───────────────────────────────────────────────────────────────────────────────
alias reboot="systemctl reboot"
alias find="sudo find"


#───────────────────────────────────────────────────────────────────────────────
# Shortcuts for pacman
#───────────────────────────────────────────────────────────────────────────────
alias pacupg="sudo pacman -Syu" # Synchronize with repositories and then upgrade packages that are out of date on the local system.
alias pacin="sudo pacman -S"    # Install specific package from the repositories
alias pacins="sudo pacman -U"   # Install specific package not from the repositories but from a file
alias pacre="sudo pacman -Rns"  # Remove the specified package(s), its configuration(s) and unneeded dependencies
alias pacrep="pacman -Si"       # Display information about a given package in the repositories
alias pacreps="pacman -Ss"      # Search for package(s) in the repositories
alias pacloc="pacman -Qi"       # Display information about a given package in the local database
alias paclocs="pacman -Qs"      # Search for package(s) in the local database


#───────────────────────────────────────────────────────────────────────────────
# Shortcuts for listing files and directories
#───────────────────────────────────────────────────────────────────────────────
alias ls="command ls --color"
alias lsd='ls -l --color | grep "^d"'
alias lh='ls -alt | head'
alias ll='ls -lGh'
alias lp='ls -alth | less -R'
alias tree="tree --dirsfirst -Cha"


#───────────────────────────────────────────────────────────────────────────────
# Shortcuts for general tasks
#───────────────────────────────────────────────────────────────────────────────
alias mute='amixer set Master mute'
alias unmute='amixer set Master unmute'
alias psg="ps aux | grep "
alias less='less -R'
alias gz='tar -zcvf'
alias grep='grep --color=always'
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'
alias ack='ack --pager="less -FRSX"'
alias nocow='chattr +C'
alias clear-password-cache='gpgconf --reload gpg-agent'

# these last two should only exist if we're physically on the machine
if ! [ -n "$SSH_CLIENT" ]; then
    alias vim='gvim'
fi

#───────────────────────────────────────────────────────────────────────────────
# Shortcuts for Git
#───────────────────────────────────────────────────────────────────────────────
alias gd="git diff --no-prefix"
alias gs="git status -sb"


#───────────────────────────────────────────────────────────────────────────────
# Shortcuts for networking
#───────────────────────────────────────────────────────────────────────────────
alias remoteip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="command ip addr show eth0 | grep --color=never -Po '([0-9]{1,3}\.){3}[0-9]{1,3}(?=/)'"
alias whois="whois -h whois-servers.net"
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""
alias ping="ping -D -O"

for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
    alias "$method"="lwp-request -m '$method'"
done

# vim:ft=sh
